* {
  font-size: 32px;
  font-family: monospace;
}

window#waybar {
  background: #000000
    /* #1a1a1a */
  ;
  color: #545862;
}

#custom-seperator {
  color: #292b2e;
  /* background: #1a1a1a; */
  background: #000000
}

#cava {
  /* color: #1a1a1a; */
  color: #000000;
  background: linear-gradient(to bottom, #4CAF50 10%, #4CAF50 50%, #FFA500 50%, #FFA500 75%, #FFA500 75%, #FF0000 80%, #1A1A1A 90%);
}

#custom-audio,
#workspaces,
#window,
#clock,
#custom-weather,
#privacy,
#network,
#pulseaudio,
#battery,
#tray,
#disk.root,
#disk.tmp,
#memory,
#cpu,
#temperature,
#language,
#keyboard-state {
  background: #000000;
  /* background: #1a1a1a; */
}

#custom-audio {
  color: #545862
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}

#workspaces button.focused,
#workspaces button.active {
  color: #268bd2;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button:hover {
  background: #000000;
  /* background: #1a1a1a; */
  /* border: #1a1a1a; */
  border: #000000;
  padding: 0 3px;
}

#pulseaudio {
  color: #268bd2;
}

/*
#memory {
  color: #2aa198;
}

#cpu {
  color: #6c71c4;
}

#battery {
  color: #859900;
}
#disk.root,
#disk.tmp {
  color: #b58900;
}
*/
#custom-audio,
#clock,
#custom-weather,
#privacy,
#network,
#pulseaudio,
#battery,
#tray,
#memory,
#cpu,
#temperature,
#language,
#keyboard-state {
  padding: 0 10px;
}

#workspaces,
#disk.root,
#disk.tmp,
#window {
  padding: 0px 10px 0 10px;
}